Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

pbio/drv/display_virtual: Run once before proceeding boot.
  lib/pbio/drv/display/display_virtual.c
Due: codeformat_c

bricks/virtualhub: Delete gcda files prior to tests.
  test-virtualhub.sh
Due: none

pbio/port_dcm_pup: Detect and use switch inputs.
  CHANGELOG.md
  lib/pbio/src/port_dcm_pup.c
  pybricks/iodevices/pb_type_iodevices_pupdevice.c
Due: codeformat_c

pybricks.tools: Add helper for awaitable constants.
  pybricks/iodevices/pb_type_iodevices_pupdevice.c
  pybricks/tools/pb_type_async.c
  pybricks/tools/pb_type_async.h
Due: codeformat_c

pyproject: Rename stats to build group.
  .github/workflows/build.yml
  .github/workflows/stats.yml
  poetry.lock
  pyproject.toml
Due: none

pbio/image/media: Add mechanism for images.
  bricks/_common/common.mk
  bricks/ev3/Makefile
  bricks/ev3/mpconfigport.h
  bricks/nxt/mpconfigport.h
  bricks/virtualhub/Makefile
  bricks/virtualhub/mpconfigport.h
  lib/pbio/include/pbio/image.h
  lib/pbio/src/image/image.c
  lib/pbio/src/image/media.py
  lib/pbio/src/image/media/ui/wrench17.svg
  poetry.lock
  pybricks/parameters.h
  pybricks/parameters/pb_module_parameters.c
  pybricks/parameters/pb_type_image.c
  pyproject.toml
Due: codeformat_c, codeformat_py

.github/workflows: Run with poetry.
  .github/workflows/build.yml
Due: none

pbio/sys/status: Add setter for slot.
  lib/pbio/include/pbsys/status.h
  lib/pbio/sys/status.c
Due: codeformat_c

pbio/sys/lcd: Split NXT and EV3.
  bricks/_common/sources.mk
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/nxt/pbsysconfig.h
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_nxt.c
Due: codeformat_c

pbio/sys/hmi_lcd: Implement partial EV3 UI.
  bricks/_common/sources.mk
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/src/image/media/ui/accept24.svg
  lib/pbio/src/image/media/ui/accept24_fill.svg
  lib/pbio/src/image/media/ui/off20.svg
  lib/pbio/src/image/media/ui/reject24.svg
  lib/pbio/src/image/media/ui/reject24_fill.svg
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_ev3_ui.c
  lib/pbio/sys/hmi_ev3_ui.h
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/sys/hmi: Implement EV3 user animation.
  lib/pbio/platform/virtual_hub/pbioconfig.h
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_ev3_ui.c
  lib/pbio/sys/hmi_ev3_ui.h
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/sys/hmi_ev3_ui: Add battery and USB indication.
  lib/pbio/src/image/media/ui/usb_host.svg
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/sys/light: Hack for EV3 status light.
  lib/pbio/sys/light.c
Due: codeformat_c

pbio/sys/hmi_virtual: Reload code from disk before running.
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/sys/hmi_virtual: Start a program with a signal.
  .vscode/launch.json
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

bricks/virtualhub: Rename build target.
  .vscode/launch.json
  bricks/_common/common.mk
  test-virtualhub.sh
Due: none

pybricks.pupdevices.TechnicMoveHub: Simplify interface.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Regroup functions by class.
  pybricks/iodevices/iodevices.h
  pybricks/iodevices/pb_module_iodevices.c
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/pupdevices.h
  pybricks/pupdevices/pb_module_pupdevices.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Split pre and post connect.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Add support flags.
  bricks/cityhub/mpconfigport.h
  bricks/essentialhub/mpconfigport.h
  bricks/movehub/mpconfigport.h
  bricks/primehub/mpconfigport.h
  bricks/technichub/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  pybricks/pupdevices/pb_module_pupdevices.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Generalize scan and connect config.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pybricks.pupdevices: Add TechnicMoveHub as peripheral.
  CHANGELOG.md
  lib/lego/lego/lwp3.h
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/pupdevices.h
  pybricks/pupdevices/pb_module_pupdevices.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Support Duplo Train.
  CHANGELOG.md
  lib/lego/lego/lwp3.h
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/pupdevices.h
  pybricks/pupdevices/pb_module_pupdevices.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Delete unused root pointer.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pbio/sys/hmi_virtual: Add task for start and stop.
  .vscode/tasks.json
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pybricks.iodevices.LWP3Device: Simplify common data.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pybricks.pupdevices.DuploTrain: Use 2-byte speed mode.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pbio/platform/virtual_hub: Fix motors using wrong settings.
  lib/pbio/platform/virtual_hub/pbioconfig.h
  tests/virtualhub/motor/drivebase.py
  tests/virtualhub/multitasking/motor_cancel.py
Due: codeformat_c, codeformat_py

pbio/servo: Add hook for device overrides.
  lib/pbio/doc/control/motor_data.py
  lib/pbio/include/pbio/servo.h
  lib/pbio/src/motor/servo_settings.c
  lib/pbio/src/servo.c
Due: codeformat_c, codeformat_py

pbio/drv/counter_ev3: Detect type while stationary.
  CHANGELOG.md
  lib/pbio/drv/counter/counter_ev3.c
Due: codeformat_c

.github/workflows: Build release in venv.
  .github/workflows/release.yml
Due: none

v4.0.0b6
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

@pybricks/firmware/v7.29.0
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

pbio/sys/hmi_virtual: Fix number of programs.
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pybricks.parameters.Image: Use display type instead of a bool.
  pybricks/parameters/pb_type_image.c
  tests/virtualhub/basics/hello.py
Due: codeformat_c, codeformat_py

pybricks.parameters.Image: Clear display on first use.
  CHANGELOG.md
  pybricks/parameters/pb_type_image.c
Due: codeformat_c

tests/virtualhub/basics: Restore test program.
  tests/virtualhub/basics/hello.py
Due: codeformat_py

!deleteme: Temp commit
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/platform/virtual_hub/btstack_config.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  tests/bluetooth/rfcomm_test_leader.py
Due: codeformat_c, codeformat_py

@pybricks/firmware/v7.30.0
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

pbio/sys: Add hook for stopping system animation.
  lib/pbio/include/pbsys/hmi.h
  lib/pbio/sys/command.c
  lib/pbio/sys/core.c
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_ev3_ui.c
  lib/pbio/sys/hmi_ev3_ui.h
  lib/pbio/sys/hmi_none.c
  lib/pbio/sys/hmi_nxt.c
  lib/pbio/sys/hmi_pup.c
  lib/pbio/sys/hmi_virtual.c
  lib/pbio/sys/main.c
  lib/pbio/sys/status.c
  lib/pbio/sys/storage.c
Due: codeformat_c

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
