Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

pbio/drb/usb: Replace parse-and-rearm RX API with bounded stream read.
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/include/pbdrv/usb.h
  lib/pbio/src/usb.c
Due: codeformat_c

pbio/bluetooth: Initial support for RFCOMM.
  bricks/_common/common.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/src/bluetooth.c
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_ev3_ui.c
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/sys/host: Move common fields out of usb.
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/drv/bluetooth/pybricks_service_server.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/include/pbsys/host.h
  lib/pbio/src/usb.c
  lib/pbio/sys/host.c
  tools/flash/serdev/pybricks.py
Due: codeformat_c, codeformat_py

pbio/drv/usb: Report hub name instead of fixed name.
  CHANGELOG.md
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/drv/usb/stm32_usbd/usbd_desc.c
  lib/pbio/drv/usb/usb_common_desc.c
  lib/pbio/drv/usb/usb_common_desc.h
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/include/pbio/bluetooth.h
  lib/pbio/include/pbsys/host.h
  lib/pbio/platform/build_hat/pbdrvconfig.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_h5/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/sys/host.c
  lib/pbio/test/Makefile
  pybricks/common/pb_type_system.c
Due: codeformat_c

pbio/drv/usb: Include hub type in name.
  CHANGELOG.md
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/usb/usb_common_desc.c
  lib/pbio/drv/usb/usb_common_desc.h
  lib/pbio/include/pbsys/host.h
  lib/pbio/platform/build_hat/pbsysconfig.h
  lib/pbio/platform/city_hub/pbsysconfig.h
  lib/pbio/platform/essential_hub/pbsysconfig.h
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/move_hub/pbsysconfig.h
  lib/pbio/platform/nxt/pbsysconfig.h
  lib/pbio/platform/prime_hub_f4/pbsysconfig.h
  lib/pbio/platform/prime_hub_h5/pbsysconfig.h
  lib/pbio/platform/technic_hub/pbsysconfig.h
  lib/pbio/platform/test/pbsysconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/sys/hmi: Generalize scan state.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/bluetooth.h
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/src/bluetooth.c
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/sys/hmi_ev3: Status icons and terminology.
  bricks/_common/common.mk
  lib/pbio/src/image/media/ui/_bt_host.svg
  lib/pbio/src/image/media/ui/_gamepad_small.svg
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Advertise the Pybricks service UUID.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pbio/serial: Generalize usb transport.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/serial.h
  lib/pbio/include/pbsys/host.h
  lib/pbio/src/main.c
  lib/pbio/src/serial.c
  lib/pbio/src/usb.c
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_nxt.c
  lib/pbio/sys/hmi_pup.c
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/sys/hmi: Add success state.
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/sys/host: Drop transport from name.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/usb/usb_common_desc.c
  lib/pbio/include/pbsys/host.h
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/platform/nxt: Allow setting name.
  CHANGELOG.md
  lib/pbio/platform/nxt/platform.ld
  tools/metadata.py
Due: codeformat_py

pbio/platform/ev3: Allow setting name.
  CHANGELOG.md
  bricks/_common/common.mk
  lib/pbio/platform/ev3/platform.ld
  tools/metadata.py
Due: codeformat_py

pbio/drv/display_ev3: Reduce telemetry flicker.
  lib/pbio/drv/display/display_ev3.c
Due: codeformat_c

tests/virtualhub/basics: Run a motor by default.
  tests/virtualhub/basics/hello.py
Due: codeformat_py

pbio/sys/telemetry: Fix encoding on EV3.
  lib/pbio/drv/display/display_ev3.c
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/platform/ev3/pbsysconfig.h
Due: codeformat_c

pbio/platform/virtual_hub: Fix empty port mode.
  lib/pbio/platform/virtual_hub/platform.c
Due: codeformat_c

pbio/port: Add draft telemetry getter.
  lib/pbio/include/pbio/port.h
  lib/pbio/include/pbsys/telemetry.h
  lib/pbio/src/port.c
  lib/pbio/sys/telemetry.c
Due: codeformat_c

pbio/sys/telemetry: Move header.
  lib/pbio/include/pbsys/telemetry.h
  lib/pbio/sys/command.c
  lib/pbio/sys/core.c
  lib/pbio/sys/host.c
  lib/pbio/sys/telemetry.c
Due: codeformat_c

pbio/sys/host: Initialize before passing telemetry.
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/sys/telemetry: Simplify display yielding.
  lib/pbio/drv/display/display_ev3.c
  lib/pbio/drv/display/display_nxt.c
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/include/pbdrv/display.h
  lib/pbio/include/pbsys/telemetry.h
  lib/pbio/sys/telemetry.c
Due: codeformat_c

nxt: Add 3a77584f: 188221 (+0).
  nxt.csv
Due: none

nxt: Add 55623ccd: 188221 (+0).
  nxt.csv
Due: none

cityhub: Add 3a77584f: 189040 (+0).
  cityhub.csv
Due: none

cityhub: Add 55623ccd: 189040 (+0).
  cityhub.csv
Due: none

nxt: Add 3e468357: 188221 (+0).
  nxt.csv
Due: none

essentialhub: Add 3a77584f: 269428 (+0).
  essentialhub.csv
Due: none

technichub: Add 3a77584f: 207044 (+0).
  technichub.csv
Due: none

movehub: Add 3a77584f: 102028 (+0).
  movehub.csv
Due: none

nxt: Add b8eed236: 188221 (+0).
  nxt.csv
Due: none

ev3: Add 3a77584f: 1048576 (+0).
  ev3.csv
Due: none

cityhub: Add 3e468357: 189040 (+0).
  cityhub.csv
Due: none

primehub_f4: Add 3a77584f: 292884 (+0).
  primehub_f4.csv
Due: none

movehub: Add 55623ccd: 102028 (+0).
  movehub.csv
Due: none

nxt: Add 72fb5f17: 188221 (+0).
  nxt.csv
Due: none

buildhat: Add 3a77584f: 151852 (+0).
  buildhat.csv
Due: none

essentialhub: Add 55623ccd: 269428 (+0).
  essentialhub.csv
Due: none

movehub: Add 3e468357: 102028 (+0).
  movehub.csv
Due: none

technichub: Add 55623ccd: 207044 (+0).
  technichub.csv
Due: none
