Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

tools/flash: Clean up version parser.
  tools/flash/serdev/spike.py
Due: codeformat_py

pbio/drv/usb: Switch COBS to escape 0, 1, 2.
  bricks/_common/sources.mk
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/include/pbio/cobs.h
  lib/pbio/include/pbio/protocol.h
  lib/pbio/src/cobs.c
  lib/pbio/test/src/test_cobs.c
  lib/pbio/test/test-pbio.c
  tools/flash/serdev/cobs.py
  tools/flash/serdev/pybricks.py
  tools/flash/serdev/spike.py
Due: codeformat_c, codeformat_py

tools/flash: Reverse detection order.
  tools/flash/__main__.py
  tools/flash/serdev/pybricks.py
Due: codeformat_py

tools/flash: Separate erase from flash.
  tools/flash/dfu.py
Due: codeformat_py

tools/flash/dfu: Recover from unplugging cable while writing.
  tools/flash/dfu.py
Due: codeformat_py

tools/flash/dfu: Simplify write failure.
  tools/flash/dfu.py
Due: codeformat_py

tools/metadata: Update checksum for prime hub.
  tools/metadata.py
Due: codeformat_py

pbio/drv/bluetooth: Unify PnP constants.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/city_hub/pbdrvconfig.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/move_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/technic_hub/pbdrvconfig.h
  lib/pbio/platform/test/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/src/protocol/pybricks.c
Due: codeformat_c

pbio/drv/bluetooth: Use char UUIDs.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/drv/usb/usb.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/include/pbio/util.h
  lib/pbio/src/protocol/pybricks.c
Due: codeformat_c

pbio/protocol: Assign hub kind identifiers.
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/build_hat/pbdrvconfig.h
  lib/pbio/platform/city_hub/pbdrvconfig.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/move_hub/pbdrvconfig.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/technic_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/src/protocol/pybricks.c
Due: codeformat_c

pbio/drv/usb: Support reading PnP ID char.
  lib/pbio/drv/usb/usb.c
Due: codeformat_c

tools/flash/dfu.py: Don't require firmware to be multiple of 16 bytes.
  tools/flash/dfu.py
Due: codeformat_py

tools/flash/dfu.py: Fix return type hint of determine_platform().
  tools/flash/dfu.py
Due: codeformat_py

bricks/_common/common.mk: Drop DEBUG=2 check.
  bricks/_common/common.mk
Due: none

bricks/_common/common.mk: Use COPT like MicroPython.
  bricks/_common/common.mk
Due: none

bricks/_common/common.mk: Make debug optimization depend on target.
  bricks/_common/common.mk
Due: none

pbio/drv/sound: Zero initialize struct.
  lib/pbio/drv/sound/sound_stm32_hal_dac.c
Due: codeformat_c

pbio/drv/pwm_tlc5955: Fix latching with LTO enabled.
  lib/pbio/drv/pwm/pwm_tlc5955_stm32.c
Due: codeformat_c

pbio/platform/prime_hub_f4: Fix beep frequency.
  CHANGELOG.md
  lib/pbio/platform/prime_hub_f4/platform.c
Due: codeformat_c

pbio/drv/usb_stm32/usbd_desc: Don't hardcode UID_BASE.
  lib/pbio/drv/usb/stm32_usbd/usbd_desc.c
Due: codeformat_c

pbio/drv/gpio: Unify STM32 driver.
  bricks/_common/sources.mk
  lib/pbio/drv/gpio/gpio_stm32.c
  lib/pbio/drv/gpio/gpio_stm32f0.c
  lib/pbio/drv/gpio/gpio_stm32f4.c
  lib/pbio/platform/city_hub/pbdrvconfig.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/move_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/technic_hub/pbdrvconfig.h
Due: codeformat_c

pbio/drv/uart_stm32_ll: Unify STM32 LL driver.
  bricks/_common/sources.mk
  lib/pbio/drv/uart/uart_stm32_ll_irq.c
  lib/pbio/drv/uart/uart_stm32_ll_irq.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/essential_hub/platform.c
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/platform.c
Due: codeformat_c

pbio/drv/usb_stm32/usbd_conf: Use generic STM32 HAL.
  lib/pbio/drv/usb/stm32_usbd/usbd_conf.h
Due: codeformat_c

pbio/drv/watchdog: Generalize supported platform.
  lib/pbio/drv/watchdog/watchdog_stm32.c
Due: codeformat_c

pbio/drv/reset_stm32: Generalize supported platforms.
  lib/pbio/drv/reset/reset_stm32.c
Due: codeformat_c

pbio/drv/usb: Document changes.
  CHANGELOG.md
Due: none

pbio/test: Drop contiki from tests.
  .vscode/launch.json
  lib/pbio/test/Makefile
  lib/pbio/test/drv/test_bluetooth_btstack.c
Due: codeformat_c

pbio/platform: Drop contiki config files.
  lib/pbio/platform/build_hat/contiki-conf.h
  lib/pbio/platform/city_hub/contiki-conf.h
  lib/pbio/platform/essential_hub/contiki-conf.h
  lib/pbio/platform/ev3/contiki-conf.h
  lib/pbio/platform/move_hub/contiki-conf.h
  lib/pbio/platform/nxt/contiki-conf.h
  lib/pbio/platform/prime_hub_f4/contiki-conf.h
  lib/pbio/platform/technic_hub/contiki-conf.h
  lib/pbio/platform/test/contiki-conf.h
  lib/pbio/platform/virtual_hub/contiki-conf.h
Due: codeformat_c

pbio/drv/usb: Echo tag byte to host.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/include/pbio/protocol.h
  tools/flash/serdev/pybricks.py
Due: codeformat_c, codeformat_py

pbio/protocol: Bump protocol version for USB support.
  lib/pbio/include/pbio/protocol.h
Due: codeformat_c

pbio/drv/uart: Fix static inline stubs.
  lib/pbio/include/pbdrv/uart.h
Due: codeformat_c

pbio/platform/build_hat: Disable LUMP device.
  lib/pbio/platform/build_hat/pbioconfig.h
Due: codeformat_c

pbio/port_lump: Fix not raising for unplugged sensor.
  CHANGELOG.md
  lib/pbio/src/port_lump.c
Due: codeformat_c

.github/workflows: Bump actions.
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/npm-mpy-cross.yml
  .github/workflows/pr-artifact.yml
  .github/workflows/release.yml
  .github/workflows/stats.yml
Due: none

.github/workflows: Bump to official actions.
  .github/workflows/pr-artifact.yml
Due: none

.github/workflows: Bump old node version.
  .github/workflows/npm-mpy-cross.yml
Due: none

pbio/drv/block_device_w25qxx: Refactor with helper functions.
  lib/pbio/drv/block_device/block_device_w25qxx_stm32.c
Due: codeformat_c

pbio/drv/block_device_w25qxx: Add xspi support.
  lib/pbio/drv/block_device/block_device_w25qxx_stm32.c
  lib/pbio/drv/block_device/block_device_w25qxx_stm32.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
Due: codeformat_c

pbio/platform: Add support for Prime Hub variant.
  .vscode/c_cpp_properties.json
  CHANGELOG.md
  bricks/_common/common.mk
  bricks/primehub/Makefile
  bricks/primehub_h5/Makefile
  bricks/primehub_h5/ReadMe_OSS.txt
  bricks/primehub_h5/manifest.py
  bricks/primehub_h5/mpconfigport.h
  bricks/primehub_h5/openocd_stm32h5.cfg
  lib/pbio/drv/adc/adc_stm32_hal.c
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_btstack_stm32_hal.c
  lib/pbio/drv/bluetooth/bluetooth_btstack_stm32_hal.h
  lib/pbio/drv/imu/imu_lsm6ds3tr_c_stm32.c
  lib/pbio/drv/pwm/pwm_tlc5955_stm32.c
  lib/pbio/drv/pwm/pwm_tlc5955_stm32.h
  lib/pbio/drv/sound/sound_stm32_hal_dac.c
  lib/pbio/drv/sound/sound_stm32_hal_dac.h
  lib/pbio/drv/uart/uart_stm32_ll_irq.c
  lib/pbio/drv/usb/stm32_usbd/usbd_conf.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/platform/prime_hub_h5/btstack_config.h
  lib/pbio/platform/prime_hub_h5/pbdrvconfig.h
  lib/pbio/platform/prime_hub_h5/pbio_os_config.h
  lib/pbio/platform/prime_hub_h5/pbioconfig.h
  lib/pbio/platform/prime_hub_h5/pbsysconfig.h
  lib/pbio/platform/prime_hub_h5/platform.c
  lib/pbio/platform/prime_hub_h5/platform.ld
  lib/pbio/platform/prime_hub_h5/startup.s
  lib/pbio/platform/prime_hub_h5/stm32h5xx_hal_conf.h
  tools/metadata.py
Due: codeformat_c, codeformat_py
