Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

pybricks.parameters.Image: Stop only screen animation.
  CHANGELOG.md
  pybricks/parameters/pb_type_image.c
Due: codeformat_c

pybricks.ev3devices.ColorSensor: Return Color.NONE.
  CHANGELOG.md
  pybricks/ev3devices/pb_type_ev3devices_colorsensor.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Specify authentication error.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Debug connected name.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pybricks.pupdevices: Add MarioHub.
  CHANGELOG.md
  lib/lego/lego/lwp3.h
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/pupdevices.h
  pybricks/pupdevices/pb_module_pupdevices.c
Due: codeformat_c

pybricks: memoryview in extra_level2.
  bricks/_common/mpconfigport.h
Due: codeformat_c

!deleteme: Temporarily enable debugging.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/platform/ev3/btstack_config.h
Due: codeformat_c

!wip pbdrv/bluetooth: RFCOMM socket API.
  .vscode/c_cpp_properties.json
  bricks/_common/common.mk
  lib/pbio/drv/bluetooth/bluetooth.c
  lib/pbio/drv/bluetooth/bluetooth.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/error.h
  lib/pbio/include/pbsys/config.h
  lib/pbio/include/pbsys/storage.h
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/virtual_hub/btstack_config.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/src/error.c
  lib/pbio/sys/storage.c
  lib/pbio/sys/storage_settings.c
  lib/pbio/test/Makefile
  pybricks/messaging/pb_module_messaging.c
  pybricks/util_pb/pb_error.c
  tests/bluetooth/rfcomm_test.py
  tests/bluetooth/rfcomm_test_follower.py
  tests/bluetooth/rfcomm_test_leader.py
Due: codeformat_c, codeformat_py

Fix function indentation.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  pybricks/messaging/pb_module_messaging.c
Due: codeformat_c

Remove default value for PBSYS_CONFIG_BLUETOOTH_CLASSIC_LINK_KEY_DB_SIZE.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbsys/config.h
Due: codeformat_c

Add EV3 build task.
  .vscode/tasks.json
Due: none

Drop the "classic_rfcomm" namespace.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

prime_hub: Fix compilation errors.
  lib/pbio/platform/prime_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub/pbsysconfig.h
Due: codeformat_c

Fix compile error.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

Disable messaging on primehub.
  bricks/primehub/mpconfigport.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

bricks/virtualhub: Allow EV3Brick as alias.
  bricks/virtualhub/mpconfigport.h
Due: codeformat_c

bricks/virtualhub: Support buttons.
  pybricks/hubs/pb_type_virtualhub.c
Due: codeformat_c

pbio/port: Fix absolute angle getter.
  CHANGELOG.md
  lib/pbio/src/port.c
Due: codeformat_c

pbio/image/fonts: Import Liberation and Terminus fonts.
  lib/pbio/src/image/Makefile
  lib/pbio/src/image/fonts/LiberationSans-Regular.ttf
  lib/pbio/src/image/fonts/mono_8x5.png
  lib/pbio/src/image/fonts/terminus-normal.otb
Due: none

pbio/image/fonts: Generate font source files at build.
  bricks/_common/common.mk
  bricks/_common/sources.mk
  bricks/ev3/Makefile
  bricks/nxt/Makefile
  bricks/virtualhub/Makefile
  lib/pbio/src/image/Makefile
  lib/pbio/src/image/font_liberationsans_regular_14.c
  lib/pbio/src/image/font_mono_8x5_8.c
  lib/pbio/src/image/font_terminus_normal_16.c
  lib/pbio/src/image/fontconvert.py
  lib/pbio/src/image/fonts/fonts.mk
  lib/pbio/test/Makefile
Due: codeformat_c, codeformat_py

pbio/test: Add missing dependency in Makefile.
  lib/pbio/test/Makefile
Due: none

pbio/image/fonts: fix getdata being deprecated in Pillow 12.1.0.
  lib/pbio/src/image/fontconvert.py
Due: codeformat_py

.github/workflows: Use poetry to build PBIO tests
  .github/workflows/build.yml
Due: none

pbio/sys/hmi_virtual: Don't show closing credits.
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pybricks/tools/pb_type_async: Don't close if already scheduled.
  CHANGELOG.md
  pybricks/tools/pb_type_async.c
  pybricks/tools/pb_type_async.h
Due: codeformat_c

pybricks.robotics.DriveBase: Add hold() method.
  CHANGELOG.md
  pybricks/robotics/pb_type_drivebase.c
Due: codeformat_c

!wip pbdrv/bluetooth: RFCOMM socket API.
  .vscode/c_cpp_properties.json
  bricks/_common/common.mk
  bricks/_common/sources.mk
  bricks/primehub/mpconfigport.h
  lib/pbio/drv/bluetooth/bluetooth.c
  lib/pbio/drv/bluetooth/bluetooth.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/drv/bluetooth/rfcomm_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/error.h
  lib/pbio/include/pbsys/storage.h
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/prime_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub/pbsysconfig.h
  lib/pbio/platform/virtual_hub/btstack_config.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/src/error.c
  lib/pbio/sys/storage.c
  lib/pbio/sys/storage_settings.c
  lib/pbio/test/Makefile
  pybricks/messaging/pb_module_messaging.c
  pybricks/util_pb/pb_error.c
  tests/bluetooth/rfcomm_test.py
  tests/bluetooth/rfcomm_test_follower.py
  tests/bluetooth/rfcomm_test_leader.py
Due: codeformat_c, codeformat_py

pbio/sys/hmi_virtual: Include animation on all tests.
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/image/media: Use leading underscore for UI elements.
  lib/pbio/src/image/media/ui/_accept24.svg
  lib/pbio/src/image/media/ui/_accept24_fill.svg
  lib/pbio/src/image/media/ui/_off20.svg
  lib/pbio/src/image/media/ui/_pybricks_join.png
  lib/pbio/src/image/media/ui/_reject24.svg
  lib/pbio/src/image/media/ui/_reject24_fill.svg
  lib/pbio/src/image/media/ui/_usb_host.svg
  lib/pbio/src/image/media/ui/_wrench17.svg
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

micropython: Correctly raise for invalid builtin.
  bricks/_common/micropython.c
  lib/pbio/platform/build_hat/pbsysconfig.h
Due: codeformat_c

bricks/ev3: Add Motor Control on apps tab.
  bricks/_common/micropython.c
  bricks/ev3/manifest.py
  bricks/ev3/modules/_ev3_motor_control.py
  bricks/virtualhub/manifest.py
  lib/pbio/include/pbio/protocol.h
  lib/pbio/src/image/media/lms2012/_app_motor_control_ad.bmp
  lib/pbio/src/image/media/lms2012/_app_motor_control_bc.bmp
  lib/pbio/src/image/media/ui/_rotate_ccw18.svg
  lib/pbio/src/image/media/ui/_rotate_cw18.svg
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c, codeformat_py

bricks: Prepare boilerplate for builtin EV3 apps.
  bricks/_common/micropython.c
  bricks/ev3/Makefile
  lib/pbio/platform/ev3/pbsysconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/src/image/media/lms2012/README.md
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pybricks.ev3devices.InfraredSensor: Return buttons as set.
  CHANGELOG.md
  pybricks/ev3devices/pb_type_ev3devices_infraredsensor.c
Due: codeformat_c

bricks/ev3/modules: Split off DC motor control.
  bricks/_common/micropython.c
  bricks/ev3/manifest.py
  bricks/ev3/modules/_ev3_motor_button_control.py
  bricks/ev3/modules/_ev3_motor_control.py
  bricks/ev3/modules/_ev3_motor_dc.py
  bricks/virtualhub/manifest.py
  lib/pbio/include/pbio/protocol.h
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c, codeformat_py

bricks/ev3: Add Motor IR Control on apps tab.
  CHANGELOG.md
  bricks/_common/micropython.c
  bricks/ev3/manifest.py
  bricks/ev3/modules/_ev3_motor_ir_control.py
  bricks/virtualhub/manifest.py
  lib/pbio/include/pbio/protocol.h
  lib/pbio/src/image/media/lms2012/_app_ir_control_12.bmp
  lib/pbio/src/image/media/lms2012/_app_ir_control_34.bmp
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c, codeformat_py

poetry, npm: Security updates.
  npm/firmware/yarn.lock
  poetry.lock
  pyproject.toml
Due: none

npm: Security updates.
  npm/firmware/package.json
  npm/firmware/yarn.lock
Due: none

npm: Update dependencies and snapshots.
  npm/firmware/__snapshots__/index.test.ts.snap
  npm/firmware/index.test.ts
  npm/firmware/package.json
  npm/firmware/yarn.lock
Due: none

.github/workflows: Use poetry to build pbio tests.
  .github/workflows/build.yml
Due: none

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
