Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

platform/ev3: Finish bluetooth configuration.
  lib/pbio/platform/ev3/platform.c
Due: codeformat_c

pbdrv/bluetooth: UART block fixes for EV3.
  lib/pbio/drv/bluetooth/bluetooth_btstack_uart_block_ev3.c
Due: codeformat_c

pbdrv/bluetooth: Init scripts for cc2560x.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_init_cc2560x.c
  lib/pbio/drv/bluetooth/bluetooth_init_cc2560x.h
Due: codeformat_c

pbdrv/bluetooth: Add classic runloop.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack_classic.c
  lib/pbio/drv/bluetooth/bluetooth_btstack_classic.h
  lib/pbio/drv/core.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/platform/ev3/pbdrvconfig.h
Due: codeformat_c

compile fix for le hubs
  lib/pbio/drv/bluetooth/bluetooth_init_cc2560x.c
Due: codeformat_c

pbio/sys/hmi_none: Check for shutdown at least once.
  lib/pbio/sys/hmi_none.c
Due: codeformat_c

tools: Remove React animator.
  tools/virtual-hub-animator/src/App.css
  tools/virtual-hub-animator/src/App.test.tsx
  tools/virtual-hub-animator/src/App.tsx
  tools/virtual-hub-animator/src/components/DataHandler.tsx
  tools/virtual-hub-animator/src/components/Visual.tsx
  tools/virtual-hub-animator/src/index.css
  tools/virtual-hub-animator/src/index.tsx
  tools/virtual-hub-animator/src/react-app-env.d.ts
  tools/virtual-hub-animator/src/reportWebVitals.ts
  tools/virtual-hub-animator/src/setupTests.ts
Due: none

pbio/sys/host: Simplify enable conditions.
  lib/pbio/sys/host.c
Due: codeformat_c

poetry: Bump Pybricksdev.
  poetry.lock
  pyproject.toml
Due: none

pbio/sys: Pass app data through host module.
  lib/pbio/include/pbsys/host.h
  lib/pbio/sys/host.c
  pybricks/tools/pb_type_app_data.c
Due: codeformat_c

pbio/drv/bluetooth: Raise on sending app data when disconnected.
  lib/pbio/drv/bluetooth/bluetooth.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/drv/bluetooth_simulation: Don't print event byte to stdout.
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
Due: codeformat_c

bricks/_common/micropython: Flush stdout on completion.
  bricks/_common/micropython.c
  bricks/_common/mphalport.c
Due: codeformat_c

bricks/_common/mphalport: Don't WFI on completed prints.
  bricks/_common/mphalport.c
Due: codeformat_c

bricks/_common/mphalport: Print exceptions on a new line.
  bricks/_common/micropython.c
  bricks/_common/mphalport.c
Due: codeformat_c

pbio/sys/hmi_mpy_env: Compile script with Pybricksdev.
  .vscode/launch.json
  bricks/_common/common.mk
  bricks/_common/sources.mk
  bricks/simhub/make_mpy.py
  lib/pbio/platform/sim_hub/pbdrvconfig.h
  lib/pbio/platform/sim_hub/pbsysconfig.h
  lib/pbio/sys/hmi_env_mpy.c
  tests/virtualhub/basics/hello.py
  tests/virtualhub/basics/hello.py.exp
Due: codeformat_c, codeformat_py

pbio/platform/virtual_hub: Use UDP to send data.
  lib/pbio/drv/motor_driver/motor_driver_virtual_simulation.c
  lib/pbio/platform/virtual_hub/animation.py
Due: codeformat_c, codeformat_py

pbio/platform/sim_hub: Don't use Linux signal for clock tick.
  .vscode/tasks.json
  bricks/_common/mpconfigport.h
  bricks/simhub/mpconfigport.h
  bricks/simhub/pbio_os_hook.c
  lib/pbio/platform/sim_hub/pbdrvconfig.h
Due: codeformat_c

bricks/simhub: Run tests with coverage.
  bricks/_common/common.mk
  lib/pbio/platform/sim_hub/pbdrvconfig.h
  test-virtualhub.sh
Due: codeformat_c

pbio/drv/bluetooth_simulation: Clean up terminal on exit.
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
Due: codeformat_c

bricks/virtualhub: Replace with embedded simulation.
  .github/workflows/build.yml
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
  bricks/_common/common.mk
  bricks/simhub/Makefile
  bricks/simhub/qstrdefsport.h
  bricks/virtualhub/.gitignore
  bricks/virtualhub/Makefile
  bricks/virtualhub/README.md
  bricks/virtualhub/manifest.py
  bricks/virtualhub/mp_port.c
  bricks/virtualhub/mpconfigport.h
  bricks/virtualhub/mpconfigvariant.h
  bricks/virtualhub/mpconfigvariant.mk
  bricks/virtualhub/mpvarianthal.h
  bricks/virtualhub/pbio_os_hook.c
  bricks/virtualhub/qstrdefsport.h
  lib/pbio/platform/sim_hub/contiki-conf.h
  lib/pbio/platform/sim_hub/pbdrvconfig.h
  lib/pbio/platform/sim_hub/pbio_os_config.h
  lib/pbio/platform/sim_hub/pbioconfig.h
  lib/pbio/platform/sim_hub/pbsysconfig.h
  lib/pbio/platform/sim_hub/platform.c
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/platform/virtual_hub/platform.c
  lib/pbio/platform/virtual_hub/startup.s
  test-virtualhub.sh
  tests/README.md
Due: codeformat_c, codeformat_py

bricks/simhub: Fix debug build paths and mpy-cross.
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
Due: none

pbio/platform/sim_hub: Don't modify stdin on CI.
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
  lib/pbio/platform/sim_hub/platform.c
  test-virtualhub.sh
Due: codeformat_c

.github: Run new simulated hub on CI.
  .github/workflows/build.yml
  test-virtualhub.sh
Due: none

bricks/simhub: Clean up VM_HOOK.
  bricks/_common/common.mk
  bricks/_common/mpconfigport.h
  bricks/simhub/Makefile
  bricks/simhub/mpconfigport.h
  bricks/simhub/pbio_os_hook.c
Due: codeformat_c

pbio/platform: Rename main to _main on embedded.
  lib/pbio/platform/city_hub/startup.s
  lib/pbio/platform/essential_hub/startup.s
  lib/pbio/platform/ev3/start.S
  lib/pbio/platform/move_hub/startup.s
  lib/pbio/platform/nxt/startup.S
  lib/pbio/platform/prime_hub/startup.s
  lib/pbio/platform/sim_hub/platform.c
  lib/pbio/platform/technic_hub/startup.s
  lib/pbio/sys/main.c
Due: codeformat_c

pbio/drv/clock_test: Fix counting clock.
  bricks/simhub/mpconfigport.h
  lib/pbio/drv/clock/clock_test.c
Due: codeformat_c

bricks/simhub: Debug locally with wall clock.
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
  bricks/simhub/.gitignore
Due: none

tests/virtualhub/motor: Make drivebase tests actually run.
  tests/virtualhub/motor/drivebase_turns.py
  tests/virtualhub/motor/drivebase_turns2.py
  tests/virtualhub/motor/drivebase_turns2.py.exp
Due: codeformat_py

bricks/simhub: Replace mpy wrapper script with Pybricksdev call.
  bricks/simhub/make_mpy.py
  lib/pbio/platform/sim_hub/platform.c
Due: codeformat_c, codeformat_py

pbio/platform/sim_hub: Set and reset terminal settings from main.
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
  lib/pbio/platform/sim_hub/platform.c
Due: codeformat_c

bricks/_common: Rename common makefile.
  bricks/_common/common.mk
  bricks/cityhub/Makefile
  bricks/essentialhub/Makefile
  bricks/ev3/Makefile
  bricks/movehub/Makefile
  bricks/nxt/Makefile
  bricks/primehub/Makefile
  bricks/simhub/Makefile
  bricks/technichub/Makefile
Due: none

bricks/simhub: Poll Contiki.
  bricks/simhub/mpconfigport.h
  bricks/simhub/pbio_os_hook.c
Due: codeformat_c

pbio/platform/sim_hub: Use CLI args for file instead of ENV.
  .vscode/launch.json
  bricks/simhub/mpconfigport.h
  lib/pbio/platform/sim_hub/platform.c
  lib/pbio/sys/hmi_env_mpy.c
Due: codeformat_c

bricks: Add simhub for testing embedded ports on CI.
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
  bricks/_common/arm_none_eabi.mk
  bricks/simhub/Makefile
  bricks/simhub/manifest.py
  bricks/simhub/mpconfigport.h
  bricks/simhub/pbio_os_hook.c
  bricks/simhub/qstrdefsport.h
  lib/pbio/platform/sim_hub/contiki-conf.h
  lib/pbio/platform/sim_hub/pbdrvconfig.h
  lib/pbio/platform/sim_hub/pbio_os_config.h
  lib/pbio/platform/sim_hub/pbioconfig.h
  lib/pbio/platform/sim_hub/pbsysconfig.h
  lib/pbio/platform/sim_hub/platform.c
  lib/pbio/platform/sim_hub/startup.s
Due: codeformat_c, codeformat_py

pbio/platform/sim_hub: Enable program stop.
  lib/pbio/platform/sim_hub/pbsysconfig.h
Due: codeformat_c

bricks/simhub: Enable sys module.
  bricks/_common/common.mk
  bricks/simhub/mpconfigport.h
Due: codeformat_c

bricks/simhub: Enable floating point.
  bricks/_common/common.mk
  bricks/simhub/mpconfigport.h
Due: codeformat_c

bricks/simhub: Compile option for CI clock.
  bricks/simhub/pbio_os_hook.c
  lib/pbio/platform/sim_hub/pbdrvconfig.h
Due: codeformat_c

pbio/platform/sim_hub: Use wall clock by default.
  .vscode/tasks.json
  lib/pbio/platform/sim_hub/pbdrvconfig.h
Due: codeformat_c

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
