Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

pbio/color: Simplify type to 32 bits.
  lib/pbio/include/pbio/color.h
  lib/pbio/include/pbio/light.h
  lib/pbio/src/color/conversion.c
  lib/pbio/src/light/color_light.c
  lib/pbio/src/light/color_light.h
  lib/pbio/test/src/test_color.c
  lib/pbio/test/src/test_color_light.c
  pybricks/common/pb_type_colorlight_internal.c
Due: codeformat_c

pybricks/parameters: Hash Color by value.
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/nxtdevices/pb_type_nxtdevices_colorsensor.c
  pybricks/parameters.h
  pybricks/parameters/pb_type_color.c
  pybricks/pupdevices/pb_type_pupdevices_colordistancesensor.c
  pybricks/pupdevices/pb_type_pupdevices_colorsensor.c
Due: codeformat_c

pbio/port_lump: Telemetry for force and distance sensors.
  lib/pbio/src/port_lump.c
Due: codeformat_c

pybricks.ev3devices.ColorSensor.rgb: Drop scalings.
  pybricks/ev3devices/pb_type_ev3devices_colorsensor.c
Due: codeformat_c

pbio/port_lump: Telemetry for Wedo 2.0 sensors.
  lib/pbio/src/port_lump.c
Due: codeformat_c

pbio/color: Flatten hsv type.
  lib/pbio/drv/led/led.h
  lib/pbio/drv/led/led_core.c
  lib/pbio/drv/led/led_dual.c
  lib/pbio/drv/led/led_pwm.c
  lib/pbio/include/pbdrv/led.h
  lib/pbio/include/pbio/color.h
  lib/pbio/include/pbio/light.h
  lib/pbio/src/color/conversion.c
  lib/pbio/src/color/util.c
  lib/pbio/src/light/color_light.c
  lib/pbio/src/light/color_light.h
  lib/pbio/sys/light.c
  lib/pbio/test/src/test_color.c
  lib/pbio/test/src/test_color_light.c
  pybricks/common.h
  pybricks/common/pb_type_colorlight_external.c
  pybricks/common/pb_type_colorlight_internal.c
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/nxtdevices/pb_type_nxtdevices_colorsensor.c
  pybricks/parameters.h
  pybricks/parameters/pb_type_color.c
  pybricks/parameters/pb_type_image.c
  pybricks/pupdevices/pb_type_pupdevices_colordistancesensor.c
  pybricks/pupdevices/pb_type_pupdevices_colorlightmatrix.c
  pybricks/pupdevices/pb_type_pupdevices_colorsensor.c
  pybricks/pupdevices/pb_type_pupdevices_pfmotor.c
  pybricks/util_mp/pb_obj_helper.c
  pybricks/util_mp/pb_obj_helper.h
  pybricks/util_pb/pb_color_map.c
  pybricks/util_pb/pb_color_map.h
Due: codeformat_c

pbio/port_lump: Broadcast color data.
  lib/pbio/include/pbio/port_lump.h
  lib/pbio/src/port.c
  lib/pbio/src/port_lump.c
  lib/pbio/sys/telemetry.c
Due: codeformat_c

pybricks.pupdevices.ColorLightMatrix: Fix argument parsing.
  CHANGELOG.md
  lib/pbio/src/port_lump.c
  pybricks/pupdevices/pb_type_pupdevices_colorlightmatrix.c
Due: codeformat_c

pbio/sys/telemetry: Preliminary lump payload.
  lib/pbio/include/pbio/port.h
  lib/pbio/include/pbio/port_lump.h
  lib/pbio/include/pbsys/telemetry.h
  lib/pbio/src/port.c
  lib/pbio/src/port_lump.c
  lib/pbio/sys/telemetry.c
Due: codeformat_c

pbio/port: Push color conversion to pbio.
  lib/pbio/include/pbio/color.h
  lib/pbio/include/pbio/port.h
  lib/pbio/include/pbio/port_dcm.h
  lib/pbio/include/pbio/port_lump.h
  lib/pbio/src/color/conversion.c
  lib/pbio/src/port.c
  lib/pbio/src/port_dcm_ev3.c
  lib/pbio/src/port_dcm_pup.c
  lib/pbio/src/port_lump.c
  pybricks/common/pb_type_device.c
  pybricks/ev3devices/pb_type_ev3devices_colorsensor.c
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/nxtdevices/pb_type_nxtdevices_colorsensor.c
  pybricks/nxtdevices/pb_type_nxtdevices_lightsensor.c
  pybricks/pupdevices/pb_type_pupdevices_colordistancesensor.c
  pybricks/pupdevices/pb_type_pupdevices_colorsensor.c
  pybricks/util_pb/pb_color_map.c
  pybricks/util_pb/pb_color_map.h
Due: codeformat_c

pbio/color_map: Move to pbio.
  bricks/_common/sources.mk
  lib/pbio/include/pbio/color_map.h
  lib/pbio/include/pbio/port.h
  lib/pbio/src/color/color_map.c
  lib/pbio/src/port.c
  pybricks/common/pb_type_device.c
  pybricks/common/pb_type_device.h
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/nxtdevices/pb_type_nxtdevices_colorsensor.c
  pybricks/parameters.h
  pybricks/parameters/pb_type_color.c
  pybricks/pupdevices/pb_type_pupdevices_colordistancesensor.c
  pybricks/pupdevices/pb_type_pupdevices_colorsensor.c
  pybricks/util_pb/pb_color_map.c
  pybricks/util_pb/pb_color_map.h
Due: codeformat_c

pybricks.iodevices: Add BluetoothClassicGamePad.
  bricks/_common/sources.mk
  bricks/buildhat/mpconfigport.h
  bricks/cityhub/mpconfigport.h
  bricks/essentialhub/mpconfigport.h
  bricks/ev3/mpconfigport.h
  bricks/nxt/mpconfigport.h
  bricks/primehub_f4/mpconfigport.h
  bricks/primehub_h5/mpconfigport.h
  bricks/technichub/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  lib/ble5stack/central/gap.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  pybricks/iodevices/iodevices.h
  pybricks/iodevices/pb_module_iodevices.c
  pybricks/iodevices/pb_type_iodevices_bluetooth_classic_gamepad.c
Due: codeformat_c

bricks/virtualhub: Use same import path as embedded.
  bricks/virtualhub/mpconfigport.h
Due: codeformat_c

bricks/ev3: Register extra iodevices from Python.
  bricks/ev3/manifest.py
  bricks/ev3/modules/_extra_iodevices.py
  bricks/virtualhub/manifest.py
  pybricks/iodevices/pb_module_iodevices.c
Due: codeformat_c, codeformat_py

pbio/drv/bluetooth_btstack: Allow multiple HID reports.
  bricks/ev3/modules/_extra_iodevices.py
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  pybricks/iodevices/pb_type_iodevices_bluetooth_classic_gamepad.c
Due: codeformat_c, codeformat_py

pbio/protocol: Change Pybricks RFCOMM SDP uuid.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/src/protocol/pybricks.c
Due: codeformat_c

pybricks.iodevices: Alias gamepad.
  CHANGELOG.md
  bricks/virtualhub/mpconfigport.h
  pybricks/iodevices/pb_module_iodevices.c
Due: codeformat_c

pbio/drv/bluetooth_nxt: Enable serial.
  bricks/_common/common.mk
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_nxt.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/nxt/platform.c
  lib/pbio/src/serial.c
  lib/pbio/sys/storage_settings.c
Due: codeformat_c

pbio/drv/usb_nxt: Defer init until serial is available.
  lib/pbio/drv/bluetooth/bluetooth_nxt.c
  lib/pbio/drv/bluetooth/bluetooth_nxt.h
  lib/pbio/drv/usb/usb_nxt.c
Due: codeformat_c

pbio/drv/usb_nxt: Use vbus detect.
  lib/pbio/drv/usb/usb_nxt.c
Due: codeformat_c

pbio/drv/counter_nxt: Own the init.
  lib/pbio/drv/counter/counter_nxt.c
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pbio/drv/usb_nxt: Drop blocking waits.
  bricks/_common/common.mk
  lib/pbio/drv/clock/clock_nxt.c
  lib/pbio/drv/reset/reset_nxt.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/platform/nxt/nxos/drivers/_efc.c
  lib/pbio/platform/nxt/nxos/drivers/_efc.h
  lib/pbio/platform/nxt/nxos/drivers/_twi.c
  lib/pbio/platform/nxt/nxos/drivers/_twi.h
  lib/pbio/platform/nxt/nxos/drivers/bt.c
  lib/pbio/platform/nxt/nxos/drivers/bt.h
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pbio/drv/usb_nxt: Don't start later if already off.
  lib/pbio/drv/usb/usb_nxt.c
Due: codeformat_c

pbio/drv/display_nxt: Deinit on cancel.
  lib/pbio/drv/display/display_nxt.c
Due: codeformat_c

pbio/drv/display_nxt: Fix interference with Bluetooth power pin.
  lib/pbio/drv/display/display_nxt.c
Due: codeformat_c

pbio/drv/bluetooth_nxt: Drop delay workaround.
  lib/pbio/drv/bluetooth/bluetooth_nxt.c
Due: codeformat_c

movehub: Add 8f31bbce: 102876 (+4).
  movehub.csv
Due: none

movehub: Add 4e23618b: 102876 (+0).
  movehub.csv
Due: none

primehub_f4: Add 8f31bbce: 295564 (+0).
  primehub_f4.csv
Due: none

nxt: Add 8f31bbce: 191861 (+92).
  nxt.csv
Due: none

movehub: Add 93c0a23d: 102876 (+0).
  movehub.csv
Due: none

technichub: Add 8f31bbce: 207864 (+0).
  technichub.csv
Due: none

buildhat: Add 8f31bbce: 153852 (+0).
  buildhat.csv
Due: none

ev3: Add 8f31bbce: 1048576 (+0).
  ev3.csv
Due: none

nxt: Add 4e23618b: 192761 (+900).
  nxt.csv
Due: none

essentialhub: Add 8f31bbce: 272160 (+0).
  essentialhub.csv
Due: none

movehub: Add 18021eb0: 102876 (+0).
  movehub.csv
Due: none

primehub_h5: Add 8f31bbce: 309224 (+0).
  primehub_h5.csv
Due: none

technichub: Add 4e23618b: 207864 (+0).
  technichub.csv
Due: none

nxt: Add 93c0a23d: 192569 (-192).
  nxt.csv
Due: none

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
