Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

pybricks.iodevices.I2CDevice: Generalize pin argument.
  CHANGELOG.md
  pybricks/iodevices/iodevices.h
  pybricks/iodevices/pb_module_iodevices.c
  pybricks/iodevices/pb_type_i2c_device.c
  pybricks/nxtdevices/pb_type_nxtdevices_energymeter.c
  pybricks/nxtdevices/pb_type_nxtdevices_temperaturesensor.c
  pybricks/nxtdevices/pb_type_nxtdevices_ultrasonicsensor.c
Due: codeformat_c

pbio/sys/storage_settings: Generalize flag setter.
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/sys/hmi_pup.c
  lib/pbio/sys/storage.c
  lib/pbio/sys/storage_settings.c
Due: codeformat_c

pybricks.iodevices.UARTDevice: Add power pin argument.
  CHANGELOG.md
  pybricks/iodevices/pb_type_uart_device.c
Due: codeformat_c

pybricks.messaging: Move BLERadio.
  CHANGELOG.md
  bricks/_common/sources.mk
  bricks/buildhat/mpconfigport.h
  bricks/cityhub/mpconfigport.h
  bricks/essentialhub/mpconfigport.h
  bricks/ev3/mpconfigport.h
  bricks/movehub/mpconfigport.h
  bricks/nxt/mpconfigport.h
  bricks/primehub/mpconfigport.h
  bricks/technichub/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  pybricks/common.h
  pybricks/common/pb_type_ble_radio.c
  pybricks/hubs/pb_type_cityhub.c
  pybricks/hubs/pb_type_essentialhub.c
  pybricks/hubs/pb_type_movehub.c
  pybricks/hubs/pb_type_primehub.c
  pybricks/hubs/pb_type_technichub.c
  pybricks/hubs/pb_type_virtualhub.c
  pybricks/messaging/pb_module_messaging.c
  tests/bluetooth/virtual0.py
  tests/bluetooth/virtual1.py
Due: codeformat_c, codeformat_py

pybricks.messaging: Move AppData.
  CHANGELOG.md
  bricks/_common/sources.mk
  bricks/buildhat/mpconfigport.h
  bricks/cityhub/mpconfigport.h
  bricks/essentialhub/mpconfigport.h
  bricks/ev3/mpconfigport.h
  bricks/movehub/mpconfigport.h
  bricks/nxt/mpconfigport.h
  bricks/primehub/mpconfigport.h
  bricks/technichub/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  pybricks/common.h
  pybricks/hubs/pb_type_cityhub.c
  pybricks/hubs/pb_type_essentialhub.c
  pybricks/hubs/pb_type_movehub.c
  pybricks/hubs/pb_type_primehub.c
  pybricks/hubs/pb_type_technichub.c
  pybricks/hubs/pb_type_virtualhub.c
  pybricks/messaging/messaging.h
  pybricks/messaging/pb_module_messaging.c
  pybricks/messaging/pb_type_app_data.c
  pybricks/messaging/pb_type_ble_radio.c
  pybricks/tools.h
  pybricks/tools/pb_module_tools.c
Due: codeformat_c

.github/workflows: Drop redundant roundtrips and two-stage tag.
  .github/workflows/npm-firmware.yml
  .github/workflows/release.yml
  npm/firmware/.yarnrc
  npm/firmware/CHANGELOG.md
  npm/firmware/download-firmware.py
  npm/firmware/package.json
Due: codeformat_py

CHANGELOG: Include diff link with local diff.
  CHANGELOG.md
Due: none

.github/workflows: Extract current tag for release.
  .github/workflows/release.yml
Due: none

.github/workflows: Extract multi-diff for release.
  .github/workflows/release.yml
Due: none

v4.0.0b11
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

pbio/platform/ev3: Vendor in binaries.
  bricks/_common/common.mk
  lib/pbio/platform/ev3/.gitignore
  lib/pbio/platform/ev3/pru_ledpwm.bin
  lib/pbio/platform/ev3/u-boot.bin
Due: none

pybricks.ev3devices.InfraredSensor: Fix keypad returning wrong button.
  CHANGELOG.md
  pybricks/ev3devices/pb_type_ev3devices_infraredsensor.c
Due: codeformat_c

pybricks.pupdevices.Remote: Fix name() not setting name.
  CHANGELOG.md
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
Due: codeformat_c

pbio/platform: Disable USB for stable release.
  CHANGELOG.md
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub/pbdrvconfig.h
Due: codeformat_c

v4.0.0
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

pybricks.messaging.BLERadio: Fix observe not working if hub instantiated later.
  CHANGELOG.md
  pybricks/messaging/pb_type_ble_radio.c
Due: codeformat_c

v4.0.1
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

.github/build-each-commit: Skip if already done.
  .github/build-each-commit.py
Due: codeformat_py

.github/build-missing-commits: Build with -j.
  .github/build-missing-commits.py
  .github/workflows/build.yml
Due: codeformat_py

pbio/test: Parallelize trajectory tests.
  .github/workflows/build.yml
  lib/pbio/test/Makefile
  lib/pbio/test/src/test_trajectory.c
  test-virtualhub.sh
Due: codeformat_c

.github/build-missing-commits: Better parallelization.
  .github/build-missing-commits.py
Due: codeformat_py

tools: Vendor in flashing.
  bricks/_common/common.mk
  poetry.lock
  pyproject.toml
  tools/flash/__main__.py
  tools/flash/checksum.py
  tools/flash/constants.py
  tools/flash/dfu/__init__.py
  tools/flash/dfu/dfu_create.py
  tools/flash/dfu/dfu_upload.py
  tools/flash/ev3.py
  tools/flash/firmware.py
  tools/flash/lwp3/__init__.py
  tools/flash/lwp3/ble.py
  tools/flash/lwp3/bootloader.py
  tools/flash/lwp3/bytecodes.py
  tools/flash/lwp3/flash.py
  tools/flash/lwp3/messages.py
  tools/flash/nxt/__init__.py
  tools/flash/nxt/firmware.py
  tools/flash/nxt/flash.py
  tools/flash/nxt/lowlevel.py
  tools/flash/nxt/resources/Makefile
  tools/flash/nxt/resources/__init__.py
  tools/flash/nxt/resources/crt0.s
  tools/flash/nxt/resources/flash.c
  tools/flash/nxt/samba.py
  tools/flash/util.py
Due: codeformat_c, codeformat_py

tools/flash/dfu: Flatten to drop DFU file roundtrip.
  tools/flash/dfu.py
  tools/flash/dfu/__init__.py
  tools/flash/dfu/dfu_create.py
  tools/flash/dfu/dfu_upload.py
Due: codeformat_py

tools/flash: Pass hub kind instead of metadata.
  tools/flash/__main__.py
  tools/flash/dfu.py
  tools/flash/lwp3/flash.py
Due: codeformat_py

bricks/primehub: Generalize build target.
  .vscode/c_cpp_properties.json
  .vscode/tasks.json
  bricks/_common/common.mk
  bricks/primehub/Makefile
  bricks/primehub/manifest.py
  bricks/primehub_f4/Makefile
  bricks/primehub_f4/ReadMe_OSS.txt
  bricks/primehub_f4/manifest.py
  bricks/primehub_f4/modules/_imu_calibrate.py
  bricks/primehub_f4/mpconfigport.h
  bricks/primehub_f4/openocd_stm32f4.cfg
  bricks/technichub/manifest.py
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_f4/contiki-conf.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbio_os_config.h
  lib/pbio/platform/prime_hub_f4/pbioconfig.h
  lib/pbio/platform/prime_hub_f4/pbsysconfig.h
  lib/pbio/platform/prime_hub_f4/platform.c
  lib/pbio/platform/prime_hub_f4/platform.ld
  lib/pbio/platform/prime_hub_f4/startup.s
  lib/pbio/platform/prime_hub_f4/stm32f4xx_hal_conf.h
  tools/combine_firmware.py
  tools/flash/__main__.py
  tools/flash/dfu.py
  tools/flash/ev3.py
  tools/flash/firmware.py
  tools/flash/lwp3/flash.py
  tools/flash/nxt/flash.py
  tools/metadata.py
Due: codeformat_c, codeformat_py

tools/flash: Accept raw binary too.
  tools/flash/__main__.py
Due: codeformat_py

tools/flash/dfu: Erase by region.
  tools/flash/dfu.py
Due: codeformat_py

tools/flash/dfu: Determine device at runtime.
  bricks/primehub_f4/.gitignore
  bricks/primehub_f4/mboot.bin
  bricks/primehub_f4/mboot.txt
  tools/flash/dfu.py
Due: codeformat_py

tools/flash/dfu: Drop raw binary support.
  tools/flash/__main__.py
  tools/flash/dfu.py
  tools/flash/ev3.py
  tools/flash/firmware.py
  tools/flash/lwp3/flash.py
  tools/flash/nxt/flash.py
Due: codeformat_py

tools/flash/dfu: Implement all F4 paths.
  tools/flash/__main__.py
  tools/flash/dfu.py
  tools/flash/firmware.py
Due: codeformat_py

pbio/platform/prime_hub_f4: Update FLASH region.
  bricks/_common/common.mk
  lib/pbio/platform/arm_common.ld
  lib/pbio/platform/prime_hub_f4/platform.ld
Due: none

pbio/platform/prime_hub_f4: Satisfy mboot requirements.
  bricks/_common/common.mk
  lib/pbio/platform/arm_common.ld
  lib/pbio/platform/prime_hub_f4/platform.c
  lib/pbio/platform/prime_hub_f4/platform.ld
  tools/flash/dfu.py
Due: codeformat_c, codeformat_py

tools/flash: Correct and simplify device mapping.
  tools/flash/dfu.py
  tools/flash/firmware.py
  tools/metadata.py
Due: codeformat_py

pbio/platform: Enable USB for beta release.
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
Due: codeformat_c

poetry: Add pyserial.
  poetry.lock
  pyproject.toml
Due: none

pbio/drv/usb: Restore subscribe message.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/include/pbio/protocol.h
Due: codeformat_c

pbio/drv/usb: Switch to serial.
  lib/pbio/drv/usb/stm32_usbd/usbd_desc.c
  lib/pbio/drv/usb/stm32_usbd/usbd_pybricks.c
  lib/pbio/drv/usb/stm32_usbd/usbd_pybricks.h
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_ch9.h
  lib/pbio/drv/usb/usb_common_desc.c
  lib/pbio/drv/usb/usb_common_desc.h
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/build_hat/pbdrvconfig.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
Due: codeformat_c

pbio/drv/reset: Reset into mboot.
  lib/pbio/drv/reset/reset_stm32.c
  lib/pbio/drv/reset/reset_stm32.h
  lib/pbio/platform/arm_common.ld
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/platform.c
  lib/pbio/platform/prime_hub_f4/platform.ld
Due: codeformat_c

tools/flash: Automatically reboot into update mode.
  tools/flash/__main__.py
  tools/flash/dfu.py
  tools/flash/serdev/__init__.py
  tools/flash/serdev/connect.py
  tools/flash/serdev/pybricks.py
  tools/flash/serdev/spike.py
Due: codeformat_py

tools/flash/dfu: Wait for completion.
  tools/flash/dfu.py
Due: codeformat_py

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
