Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

pbio/sys/telemetry: Use data generator model.
  lib/pbio/platform/virtual_hub/animation.py
  lib/pbio/sys/core.c
  lib/pbio/sys/host.c
  lib/pbio/sys/telemetry.c
  lib/pbio/sys/telemetry.h
Due: codeformat_c, codeformat_py

pbio/sys/telemetry: Migrate frame buffer.
  lib/pbio/drv/display/display_ev3.c
  lib/pbio/drv/display/display_nxt.c
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/include/pbdrv/display.h
  lib/pbio/platform/virtual_hub/animation.py
  lib/pbio/sys/telemetry.c
Due: codeformat_c, codeformat_py

pbio/sys/host: Re-wire app data.
  lib/pbio/include/pbsys/host.h
  lib/pbio/src/bluetooth.c
  lib/pbio/src/usb.c
  lib/pbio/sys/host.c
  lib/pbio/sys/telemetry.c
  lib/pbio/sys/telemetry.h
  pybricks/messaging/pb_type_app_data.c
Due: codeformat_c

pbio/usb: Move init.
  lib/pbio/drv/core.c
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/include/pbdrv/usb.h
  lib/pbio/include/pbio/usb.h
  lib/pbio/src/main.c
  lib/pbio/src/usb.c
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/usb: Update namespace.
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_simulation_pico.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/include/pbdrv/usb.h
  lib/pbio/include/pbio/usb.h
  lib/pbio/src/usb.c
Due: codeformat_c

test-virtualhub: Build CI version in separate folder.
  Makefile
  test-virtualhub.sh
Due: none

pbio/sys/host: Fix completion state.
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/bluetooth: Update namespace.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_bluenrg.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
  lib/pbio/drv/core.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/bluetooth.h
  lib/pbio/src/bluetooth.c
  lib/pbio/src/main.c
  lib/pbio/sys/hmi_pup.c
  lib/pbio/sys/host.c
  lib/pbio/test/sys/test_bluetooth.c
  pybricks/iodevices/pb_type_iodevices_lwp3device.c
  pybricks/iodevices/pb_type_iodevices_xbox_controller.c
  pybricks/messaging/pb_module_messaging.c
  pybricks/messaging/pb_type_ble_radio.c
Due: codeformat_c

pbio/sys/host: Fix send busy states.
  lib/pbio/sys/host.c
Due: codeformat_c

pybricks.tools: Expose encoding functions.
  bricks/buildhat/mpconfigport.h
  bricks/cityhub/mpconfigport.h
  bricks/essentialhub/mpconfigport.h
  bricks/ev3/mpconfigport.h
  bricks/movehub/mpconfigport.h
  bricks/nxt/mpconfigport.h
  bricks/primehub_f4/mpconfigport.h
  bricks/primehub_h5/mpconfigport.h
  bricks/technichub/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  pybricks/tools/pb_module_tools.c
  tests/virtualhub/tools/cobs.py
  tests/virtualhub/tools/cobs.py.exp
Due: codeformat_c, codeformat_py

.vscode/launch.json: Launch animation in venv.
  .vscode/launch.json
Due: none

pbio/sys/telemetry: Sketch protocol.
  lib/pbio/drv/display/display_ev3.c
  lib/pbio/drv/display/display_nxt.c
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/include/pbdrv/display.h
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/virtual_hub/animation.py
  lib/pbio/sys/command.c
  lib/pbio/sys/telemetry.c
  lib/pbio/sys/telemetry.h
Due: codeformat_c, codeformat_py

pbio/bluetooth, usb: Use pbio config flags.
  lib/pbio/include/pbio/bluetooth.h
  lib/pbio/include/pbio/usb.h
  lib/pbio/platform/build_hat/pbioconfig.h
  lib/pbio/platform/city_hub/pbioconfig.h
  lib/pbio/platform/essential_hub/pbioconfig.h
  lib/pbio/platform/ev3/pbioconfig.h
  lib/pbio/platform/move_hub/pbioconfig.h
  lib/pbio/platform/nxt/pbioconfig.h
  lib/pbio/platform/prime_hub_f4/pbioconfig.h
  lib/pbio/platform/prime_hub_h5/pbioconfig.h
  lib/pbio/platform/technic_hub/pbioconfig.h
  lib/pbio/platform/test/pbioconfig.h
  lib/pbio/platform/virtual_hub/pbioconfig.h
  lib/pbio/src/bluetooth.c
  lib/pbio/src/usb.c
Due: codeformat_c

pbio/drv/display: Iterate buffer to yield chunks.
  lib/pbio/drv/display/display_ev3.c
  lib/pbio/drv/display/display_nxt.c
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/include/pbdrv/display.h
  lib/pbio/platform/virtual_hub/animation.py
  lib/pbio/sys/telemetry.c
Due: codeformat_c, codeformat_py

movehub: Add c2185c6f: 105096 (+0).
  movehub.csv
Due: none

movehub: Add 9e0a1f5c: 104736 (-360).
  movehub.csv
Due: none

cityhub: Add c2185c6f: 190252 (+0).
  cityhub.csv
Due: none

ev3: Add c2185c6f: 1048576 (+0).
  ev3.csv
Due: none

essentialhub: Add c2185c6f: 282800 (+112).
  essentialhub.csv
Due: none

technichub: Add c2185c6f: 208976 (+0).
  technichub.csv
Due: none

cityhub: Add 9e0a1f5c: 189888 (-364).
  cityhub.csv
Due: none

nxt: Add c2185c6f: 189077 (+280).
  nxt.csv
Due: none

buildhat: Add c2185c6f: 151896 (+304).
  buildhat.csv
Due: none

essentialhub: Add 9e0a1f5c: 281900 (-900).
  essentialhub.csv
Due: none

ev3: Add 9e0a1f5c: 1048576 (+0).
  ev3.csv
Due: none

technichub: Add 9e0a1f5c: 208552 (-424).
  technichub.csv
Due: none

nxt: Add 9e0a1f5c: 188837 (-240).
  nxt.csv
Due: none

primehub: Add c2185c6f: 306472 (+108).
  primehub.csv
Due: none

buildhat: Add 9e0a1f5c: 151480 (-416).
  buildhat.csv
Due: none

primehub: Add 9e0a1f5c: 305512 (-960).
  primehub.csv
Due: none

cityhub: Add d825c3d8: 189888 (+0).
  cityhub.csv
Due: none

movehub: Add d825c3d8: 104732 (-4).
  movehub.csv
Due: none

ev3: Add d825c3d8: 1048576 (+0).
  ev3.csv
Due: none

nxt: Add d825c3d8: 188837 (+0).
  nxt.csv
Due: none

cityhub: Add 267701a1: 189888 (+0).
  cityhub.csv
Due: none

technichub: Add d825c3d8: 208552 (+0).
  technichub.csv
Due: none

movehub: Add 267701a1: 104732 (+0).
  movehub.csv
Due: none

nxt: Add 267701a1: 188837 (+0).
  nxt.csv
Due: none

ev3: Add 267701a1: 1048576 (+0).
  ev3.csv
Due: none

essentialhub: Add d825c3d8: 281900 (+0).
  essentialhub.csv
Due: none
