Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

pbio/image/fonts: Fix getdata being deprecated in Pillow 12.1.0.
  lib/pbio/tools/fontconvert.py
Due: codeformat_py

poetry: Security updates.
  poetry.lock
  pyproject.toml
Due: none

pbio/platform/prime_hub: Enable USB.
  CHANGELOG.md
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub/pbdrvconfig.h
Due: codeformat_c

v4.0.0b8
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

@pybricks/firmware/v7.31.0
  CHANGELOG.md
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

pbio/image/fonts: Import Liberation and Terminus fonts.
  lib/pbio/src/image/Makefile
  lib/pbio/src/image/fonts/LiberationSans-Regular.ttf
  lib/pbio/src/image/fonts/README.md
  lib/pbio/src/image/fonts/mono_8x5.png
  lib/pbio/src/image/fonts/terminus-normal.otb
Due: none

pbio/image/fonts: Generate font source files at build.
  bricks/_common/common.mk
  bricks/_common/sources.mk
  bricks/ev3/Makefile
  bricks/nxt/Makefile
  bricks/virtualhub/Makefile
  lib/pbio/src/image/Makefile
  lib/pbio/src/image/font_liberationsans_regular_14.c
  lib/pbio/src/image/font_mono_8x5_8.c
  lib/pbio/src/image/font_terminus_normal_16.c
  lib/pbio/src/image/fontconvert.py
  lib/pbio/test/Makefile
Due: codeformat_c, codeformat_py

pbio/test: Add missing dependency in Makefile.
  lib/pbio/test/Makefile
Due: none

platform/build_hat: Add support for LEDs.
  .vscode/c_cpp_properties.json
  bricks/_common/sources.mk
  lib/pbio/drv/pwm/pwm_core.c
  lib/pbio/drv/pwm/pwm_pico.c
  lib/pbio/drv/pwm/pwm_pico.h
  lib/pbio/platform/build_hat/pbdrvconfig.h
  lib/pbio/platform/build_hat/pbioconfig.h
  lib/pbio/platform/build_hat/pbsysconfig.h
  lib/pbio/platform/build_hat/platform.c
  pybricks/hubs/pb_type_buildhat.c
Due: codeformat_c

bricks/ev3: Add Port View on apps tab.
  bricks/_common/micropython.c
  bricks/ev3/manifest.py
  bricks/ev3/modules/_ev3_port_view.py
  bricks/virtualhub/manifest.py
  lib/pbio/include/pbio/protocol.h
  lib/pbio/src/image/media/lms2012/_port_view_empty.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_color_ambient.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_color_color.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_color_reflection.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_gyro.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_ir_beacon.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_ir_button.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_ir_proximity.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_motor_large.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_motor_medium.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_touch.bmp
  lib/pbio/src/image/media/lms2012/_port_view_ev3_ultrasonic.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p0_bottom.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p0_top.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p1.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p2.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p3.bmp
  lib/pbio/src/image/media/lms2012/_port_view_p4.bmp
  lib/pbio/src/image/media/lms2012/_port_view_pa.bmp
  lib/pbio/src/image/media/lms2012/_port_view_pb.bmp
  lib/pbio/src/image/media/lms2012/_port_view_pc.bmp
  lib/pbio/src/image/media/lms2012/_port_view_pd.bmp
  lib/pbio/src/image/media/ui/_port_view_nxt_color_ambient.svg
  lib/pbio/src/image/media/ui/_port_view_nxt_color_color.svg
  lib/pbio/src/image/media/ui/_port_view_nxt_color_reflection.svg
  lib/pbio/src/image/media/ui/_port_view_nxt_light_ambient.svg
  lib/pbio/src/image/media/ui/_port_view_nxt_light_reflection.svg
  lib/pbio/src/image/media/ui/_port_view_nxt_sound.svg
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c, codeformat_py

pbio/drv/usb_ev3: Add debugging.
  lib/pbio/drv/usb/usb_ev3.c
Due: codeformat_c

pbio/debug: Don't debug over USB when UART debug enabled.
  lib/pbio/src/debug.c
Due: codeformat_c

pbio/drv/usb: Increase transmit timeout.
  CHANGELOG.md
  lib/pbio/drv/usb/usb.h
Due: codeformat_c

bricks/nxt: Enable app data.
  bricks/nxt/mpconfigport.h
Due: codeformat_c

added keyword argument to UARTDevice to set power on one of the power pins
  pybricks/iodevices/pb_type_uart_device.c
Due: codeformat_c

pbio/image: Add dependencies for generated images.
  bricks/_common/common.mk
  lib/pbio/src/image/media.py
Due: codeformat_py

pbio/image: Rebuild PNG file if SVG file changed.
  lib/pbio/src/image/media.py
Due: codeformat_py

bricks/ev3: Add NXT ultrasonic sensor on Portview
  bricks/ev3/modules/_ev3_port_view.py
  lib/pbio/src/image/media/ui/_port_view_nxt_ultrasonic.svg
Due: codeformat_py

Update _ev3_port_view.py
  bricks/ev3/modules/_ev3_port_view.py
Due: codeformat_py

v4.0.0b9
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

@pybricks/firmware/v7.32.0
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

Fix missing change in 1435df6813e6, list of media files is incomplete.
  bricks/_common/common.mk
Due: none

bricks/common.mk: Fix missing media files.
  bricks/_common/common.mk
Due: none

pybricks.tools.AppData: Update for camera processors.
  pybricks/tools/pb_type_app_data.c
Due: codeformat_c

bricks/movehub: Enable AppData.
  bricks/movehub/mpconfigport.h
Due: codeformat_c

v4.0.0b10
  CHANGELOG.md
  lib/pbio/include/pbio/version.h
Due: codeformat_c

@pybricks/firmware/v7.33.0
  CHANGELOG.md
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

pybricks.tools.AppData: Sort modes.
  pybricks/tools/pb_type_app_data.c
Due: codeformat_c

@pybricks/firmware/v7.34.0
  npm/firmware/CHANGELOG.md
  npm/firmware/package.json
Due: none

!debug: Enable debug prints for port B
  lib/pbio/platform/prime_hub/pbdrvconfig.h
  lib/pbio/platform/prime_hub/platform.c
  lib/pbio/src/port_lump.c
Due: codeformat_c

pbio/drv/bluetooth: Add more debug prints.
  lib/pbio/drv/bluetooth/bluetooth.c
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pbio/drv/bluetooth: Fix reentrant goto shutdown condition.
  CHANGELOG.md
  lib/pbio/drv/bluetooth/bluetooth.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Stop waiting on send value notification on disconnect.
  CHANGELOG.md
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pbio/port_lump: Increase tolerance to missed data messages.
  CHANGELOG.md
  lib/pbio/src/port_lump.c
Due: codeformat_c

pbio/port_lump: Increase initial read time out.
  lib/pbio/src/port_lump.c
Due: codeformat_c

pbio/port_lump: Recover from RX desync bursts in data recv thread
  lib/pbio/src/port_lump.c
Due: codeformat_c

pybricks.iodevices.I2CDevice: Ask for permission for sensor power.
  lib/pbio/include/pbsys/storage_settings.h
  lib/pbio/sys/storage_settings.c
  pybricks/iodevices/iodevices.h
  pybricks/iodevices/pb_module_iodevices.c
  pybricks/iodevices/pb_type_i2c_device.c
Due: codeformat_c

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
