Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

technichub: Add 0d80b65f: 209064 (+112).
  technichub.csv
Due: none

essentialhub: Add 06c3fd5a: 273424 (+80).
  essentialhub.csv
Due: none

movehub: Add a4494ce6: 104500 (+160).
  movehub.csv
Due: none

ev3: Add 6f8e78fb: 1048576 (+0).
  ev3.csv
Due: none

cityhub: Add a4494ce6: 191572 (+148).
  cityhub.csv
Due: none

nxt: Add 06c3fd5a: 192229 (+0).
  nxt.csv
Due: none

essentialhub: Add a4494ce6: 273544 (+120).
  essentialhub.csv
Due: none

primehub_f4: Add 7f8a2473: 296652 (+476).
  primehub_f4.csv
Due: none

buildhat: Add f7f14cfb: 153900 (+0).
  buildhat.csv
Due: none

nxt: Add a4494ce6: 192229 (+0).
  nxt.csv
Due: none

technichub: Add 06c3fd5a: 209148 (+84).
  technichub.csv
Due: none

ev3: Add 0d80b65f: 1048576 (+0).
  ev3.csv
Due: none

primehub_h5: Add 7f8a2473: 310304 (+484).
  primehub_h5.csv
Due: none

technichub: Add a4494ce6: 209272 (+124).
  technichub.csv
Due: none

ev3: Add 06c3fd5a: 1048576 (+0).
  ev3.csv
Due: none

primehub_f4: Add f7f14cfb: 296712 (+60).
  primehub_f4.csv
Due: none

buildhat: Add 6f8e78fb: 153900 (+0).
  buildhat.csv
Due: none

ev3: Add a4494ce6: 1048576 (+0).
  ev3.csv
Due: none

primehub_h5: Add f7f14cfb: 310348 (+44).
  primehub_h5.csv
Due: none

buildhat: Add 0d80b65f: 153900 (+0).
  buildhat.csv
Due: none

primehub_f4: Add 6f8e78fb: 296712 (+0).
  primehub_f4.csv
Due: none

primehub_h5: Add 6f8e78fb: 310348 (+0).
  primehub_h5.csv
Due: none

buildhat: Add 06c3fd5a: 153900 (+0).
  buildhat.csv
Due: none

primehub_f4: Add 0d80b65f: 296820 (+108).
  primehub_f4.csv
Due: none

primehub_h5: Add 0d80b65f: 310456 (+108).
  primehub_h5.csv
Due: none

buildhat: Add a4494ce6: 153900 (+0).
  buildhat.csv
Due: none

primehub_f4: Add 06c3fd5a: 296900 (+80).
  primehub_f4.csv
Due: none

primehub_h5: Add 06c3fd5a: 310536 (+80).
  primehub_h5.csv
Due: none

primehub_f4: Add a4494ce6: 297024 (+124).
  primehub_f4.csv
Due: none

primehub_h5: Add a4494ce6: 310660 (+124).
  primehub_h5.csv
Due: none

pbio/drv/block_device_nxt: Draft driver.
  bricks/_common/sources.mk
  lib/pbio/drv/block_device/block_device_nxt.c
  lib/pbio/drv/rproc/rproc_nxt.c
  lib/pbio/drv/rproc/rproc_nxt.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/nxt/platform.ld
Due: codeformat_c

pbio/drv/rproc_nxt: Fix AVR sync.
  bricks/_common/common.mk
  bricks/_common/sources.mk
  lib/pbio/drv/rproc/rproc_nxt.c
  lib/pbio/drv/rproc/rproc_nxt_twi.c
  lib/pbio/drv/rproc/rproc_nxt_twi.h
Due: codeformat_c

pbio/drv/block_device_nxt: Drop write delays.
  lib/pbio/drv/block_device/block_device_nxt.c
Due: codeformat_c

pbio/drv/clock_nxt: Implement microsecond timers.
  lib/pbio/drv/clock/clock_nxt.c
Due: codeformat_c

pbio/drv/rproc_nxt: Keep failure logs on for now.
  lib/pbio/drv/rproc/rproc_nxt.c
Due: codeformat_c

pbio/drv/adc_nxt: Implement internal ADC.
  lib/pbio/drv/adc/adc_nxt.c
  lib/pbio/drv/adc/adc_nxt.h
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pbio/platform/nxt: Disable RS485 port.
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pbio/drv/adc: Pass channel number to waiter.
  lib/pbio/drv/adc/adc_nxt.c
  lib/pbio/drv/adc/adc_stm32_hal.c
  lib/pbio/drv/adc/adc_stm32f0.c
  lib/pbio/drv/block_device/block_device_ev3.c
  lib/pbio/include/pbdrv/adc.h
  lib/pbio/src/port_dcm_ev3.c
Due: codeformat_c

pbio/color: Fix black, none, and transparent.
  lib/pbio/include/pbio/color.h
  lib/pbio/include/pbio/light.h
  lib/pbio/src/color/color_map.c
  lib/pbio/src/light/color_light.c
  lib/pbio/sys/light.c
  lib/pbio/test/src/test_color.c
  lib/pbio/test/src/test_color_light.c
  pybricks/common/pb_type_colorlight_internal.c
Due: codeformat_c

pbio/platform/virtual_hub: Allow either telemetry motor format.
  lib/pbio/platform/virtual_hub/animation.py
Due: codeformat_py
