Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

tests: Use embedded virtual hub.
  test-virtualhub.sh
  tests/virtualhub/motor/test_1.py
  tests/virtualhub/motor/test_1.py.exp
Due: codeformat_py

pbio/drv/uart_debug_first_port: Fix bugs and add va_list func.
  lib/pbio/drv/uart/uart_debug_first_port.c
  lib/pbio/drv/uart/uart_debug_first_port.h
Due: codeformat_c

pbio/drv/usb_ev3: Fix lockup for stdout.
  lib/pbio/drv/usb/usb_ev3.c
Due: codeformat_c

pbio/drv/usb_stm32: Simplify event loop and use pbio/os.
  lib/pbio/drv/core.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_stm32.c
Due: codeformat_c

micropython: Update event loop hooks.
  bricks/_common/micropython.c
  bricks/_common/mpconfigport.h
  bricks/_common/mphalport.c
  bricks/nxt/mphalport.c
  pybricks/common/pb_type_device.c
  pybricks/common/pb_type_system.c
  pybricks/hubs/pb_type_movehub.c
  pybricks/tools/pb_module_tools.c
  pybricks/tools/pb_type_async.c
Due: codeformat_c

bricks/_common/mphalport: Fix flush to new line.
  bricks/_common/micropython.c
  bricks/_common/mphalport.c
  bricks/_common/mphalport.h
  bricks/nxt/mphalport.c
Due: codeformat_c

bricks/virtualhub: Build mpy-cross and properly clean.
  Makefile
  test-virtualhub.sh
Due: none

micropython: Update to 1.26.
  bricks/_common/mpconfigport.h
  bricks/_common/mphalport.c
  bricks/nxt/mphalport.c
Due: codeformat_c

bricks/technichub,movehub: Set CSUPEROPT for build size.
  bricks/movehub/Makefile
  bricks/technichub/Makefile
Due: none

pbdrv/bluetooth: Add forgotten pbdrvconfig include.
  lib/pbio/drv/bluetooth/bluetooth_init_cc2560x.c
Due: codeformat_c

bricks: Restore accidentally removed cc2564C_1.4.c.
  bricks/_common/sources.mk
Due: none

pbdrv/bluetooth: EV3 UART block return errors.
  lib/pbio/drv/bluetooth/bluetooth_btstack_uart_block_ev3.c
Due: codeformat_c

pbdrv/bluetooth: Refactor classic, add scan API.
  lib/pbio/drv/bluetooth/bluetooth_btstack_classic.c
  lib/pbio/include/pbdrv/bluetooth.h
Due: codeformat_c

bricks/ev3: Add Bluetooth classic object.
  bricks/_common/sources.mk
  bricks/ev3/mpconfigport.h
  pybricks/common.h
  pybricks/common/pb_type_btc.c
  pybricks/hubs/pb_type_ev3brick.c
Due: codeformat_c

pbdrv/bluetooth: Classic scan now reports name.
  lib/pbio/drv/bluetooth/bluetooth_btstack_classic.c
Due: codeformat_c

pbio/os: Don't poll on single yield.
  lib/pbio/drv/charger/charger_mp2639a.c
  lib/pbio/drv/pwm/pwm_lp50xx_stm32.c
  lib/pbio/drv/uart/uart_debug_first_port.c
  lib/pbio/include/pbio/os.h
Due: codeformat_c

pbio/platform: Drop unused sys/bluetooth config.
  lib/pbio/doc/doxygen.conf
  lib/pbio/platform/city_hub/pbsysconfig.h
  lib/pbio/platform/essential_hub/pbsysconfig.h
  lib/pbio/platform/move_hub/pbsysconfig.h
  lib/pbio/platform/prime_hub/pbsysconfig.h
  lib/pbio/platform/technic_hub/pbsysconfig.h
  lib/pbio/platform/test/pbsysconfig.h
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/sys/host.c
Due: codeformat_c

pbio/drv/usb_simulation: Add virtual hub driver.
  .vscode/launch.json
  bricks/_common/sources.mk
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
Due: codeformat_c

pbio/drv/usb: Add common USB driver.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_simulation.c
Due: codeformat_c

pbio/drv/usb: Use out buffers from drivers.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
Due: codeformat_c

pbio/drv/usb: Use common driver for EV3 and STM32.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_stm32.c
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/prime_hub/pbdrvconfig.h
Due: codeformat_c

pbio/drv/usb_nxt: Implement mock driver with RFCOMM.
  bricks/_common/common.mk
  bricks/nxt/mphalport.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pbio/drv/usb: Minor naming updates.
  lib/pbio/drv/usb/usb.c
  lib/pbio/drv/usb/usb.h
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/drv/usb/usb_simulation.c
  lib/pbio/drv/usb/usb_stm32.c
Due: codeformat_c

pbio/drv/counter: Add NXT driver.
  bricks/_common/sources.mk
  lib/pbio/drv/counter/counter_nxt.c
  lib/pbio/platform/nxt/pbdrvconfig.h
Due: codeformat_c

pbio/drv/motor_driver_nxt: Fix decay mode.
  lib/pbio/doc/control/motor_data.py
  lib/pbio/drv/motor_driver/motor_driver_nxt.c
Due: codeformat_c, codeformat_py

pybricks.nxtdevices.TouchSensor: Initialize analog value.
  pybricks/nxtdevices/pb_type_nxtdevices_soundsensor.c
  pybricks/nxtdevices/pb_type_nxtdevices_touchsensor.c
Due: codeformat_c

pbio/platform/nxt: Enable motors.
  bricks/nxt/mpconfigport.h
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/nxt/pbioconfig.h
  lib/pbio/platform/nxt/platform.c
Due: codeformat_c

pybricks.parameters.Image: fix Image.empty initial content
  pybricks/parameters/pb_type_image.c
Due: codeformat_c

pbio/drv/motor_driver_simulation: Init from counter and motor_driver.
  lib/pbio/drv/motor_driver/motor_driver_virtual_simulation.c
  lib/pbio/platform/virtual_hub/platform.c
Due: codeformat_c

pbio/port: Add getter by index.
  lib/pbio/include/pbio/port_interface.h
  lib/pbio/src/port.c
Due: codeformat_c

pbio/drv/bluetooth: Send notifications by priority.
  lib/pbio/drv/bluetooth/bluetooth.c
  lib/pbio/include/pbio/protocol.h
  pybricks/tools/pb_type_app_data.c
  tests/virtualhub/basics/hello.py
Due: codeformat_c, codeformat_py

pbio/sys/telemetry: Add module.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
  lib/pbio/drv/motor_driver/motor_driver_virtual_simulation.c
  lib/pbio/include/pbio/protocol.h
  lib/pbio/platform/virtual_hub/animation.py
  lib/pbio/platform/virtual_hub/pbsysconfig.h
  lib/pbio/sys/core.c
  lib/pbio/sys/telemetry.c
  lib/pbio/sys/telemetry.h
Due: codeformat_c, codeformat_py

pbio/drv/display: Add driver for Virtual Hub.
  bricks/_common/sources.mk
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbioconfig.h
Due: codeformat_c

bricks/common.mk: Set sections flags for all builds.
  bricks/_common/common.mk
Due: none

bricks/virtualhub: Enable screen attribute.
  .vscode/c_cpp_properties.json
  bricks/virtualhub/Makefile
  bricks/virtualhub/dbglog/dbglog.h
  bricks/virtualhub/mpconfigport.h
  lib/pbio/platform/virtual_hub/platform.c
  lib/pbio/platform/virtual_hub/umm_malloc_cfgport.h
  pybricks/hubs/pb_type_virtualhub.c
Due: codeformat_c

pbio/platform/virtual_hub: Move socket code to platform.
  lib/pbio/drv/bluetooth/bluetooth_simulation.c
  lib/pbio/platform/virtual_hub/platform.c
Due: codeformat_c

pbio/drv/display_virtual: Animate state.
  lib/pbio/drv/display/display_virtual.c
  lib/pbio/platform/virtual_hub/animation.py
Due: codeformat_c, codeformat_py

pbio/drv/display_ev3: Fix triplet encoding.
  lib/pbio/drv/display/display_ev3.c
Due: codeformat_c
