Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

codeformat_c:
  name: codeformat-c
  language: system
  entry: poetry run ./tools/codeformat.py -cf

codeformat_py:
  name: codeformat-py
  language: system
  entry: poetry run ./tools/codeformat.py -p
  pass_filenames: false

technichub: Add ace1be02: 206928 (+0).
  technichub.csv
Due: none

ev3: Add ace1be02: 1048576 (+0).
  ev3.csv
Due: none

buildhat: Add 98827aa5: 151852 (+0).
  buildhat.csv
Due: none

primehub: Add ace1be02: 304528 (+0).
  primehub.csv
Due: none

buildhat: Add ace1be02: 151852 (+0).
  buildhat.csv
Due: none

tools/codeformat: Fix breaking change in MicroPython update.
  tools/codeformat.py
Due: codeformat_py

nxt: Add 621b830b: 188197 (+0).
  nxt.csv
Due: none

cityhub: Add 621b830b: 188920 (+0).
  cityhub.csv
Due: none

technichub: Add 621b830b: 206928 (+0).
  technichub.csv
Due: none

movehub: Add 621b830b: 102552 (+0).
  movehub.csv
Due: none

essentialhub: Add 621b830b: 280784 (+0).
  essentialhub.csv
Due: none

ev3: Add 621b830b: 1048576 (+0).
  ev3.csv
Due: none

primehub: Add 621b830b: 304528 (+0).
  primehub.csv
Due: none

buildhat: Add 621b830b: 151852 (+0).
  buildhat.csv
Due: none

pbio/drv/block_device: Add virtual driver.
  bricks/_common/sources.mk
  lib/pbio/drv/block_device/block_device_virtual.c
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
Due: codeformat_c

.github/workflows: Fail fast on work branches.
  .github/build-commits.py
  .github/workflows/build.yml
Due: codeformat_py

.vscode/launch.json: Enable bluetooth in virtual hub with menu.
  .vscode/launch.json
Due: none

pbio/sys: Add Build HAT HMI that starts the status light animation.
  bricks/_common/sources.mk
  lib/pbio/platform/build_hat/pbsysconfig.h
  lib/pbio/sys/hmi_buildhat.c
Due: codeformat_c

pbio/platform/prime_hub_h5: Stop bootloader DMA/ADC before RAM init.
  lib/pbio/platform/prime_hub_h5/platform.c
  lib/pbio/platform/prime_hub_h5/startup.s
Due: codeformat_c

pbio/drv/bluetooth_cc2640: Fix negotiated MTU.
  CHANGELOG.md
  lib/ble5stack/central/att.c
  lib/pbio/drv/bluetooth/bluetooth_stm32_cc2640.c
Due: codeformat_c

pbio/drv/uart_debug: Fix missing stddef include.
  lib/pbio/drv/uart/uart_debug_first_port.h
Due: codeformat_c

pbio/platform/btstack_config: Align Spike hubs.
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_h5/btstack_config.h
Due: codeformat_c

pbio/bluetooth: Fix fallback for cancel function.
  lib/pbio/include/pbio/bluetooth.h
Due: codeformat_c

movehub: Add e24b924f: 102552 (+0).
  movehub.csv
Due: none

nxt: Add e24b924f: 188197 (+0).
  nxt.csv
Due: none

movehub: Add afe35584: 102552 (+0).
  movehub.csv
Due: none

technichub: Add e24b924f: 206928 (+0).
  technichub.csv
Due: none

essentialhub: Add e24b924f: 280784 (+0).
  essentialhub.csv
Due: none

cityhub: Add e24b924f: 188920 (+0).
  cityhub.csv
Due: none

nxt: Add afe35584: 188197 (+0).
  nxt.csv
Due: none

movehub: Add a6665797: 102552 (+0).
  movehub.csv
Due: none

technichub: Add afe35584: 206928 (+0).
  technichub.csv
Due: none

primehub: Add e24b924f: 304528 (+0).
  primehub.csv
Due: none

nxt: Add a6665797: 188197 (+0).
  nxt.csv
Due: none

essentialhub: Add afe35584: 280784 (+0).
  essentialhub.csv
Due: none

cityhub: Add afe35584: 188920 (+0).
  cityhub.csv
Due: none

movehub: Add ce410320: 102552 (+0).
  movehub.csv
Due: none

nxt: Add ce410320: 188197 (+0).
  nxt.csv
Due: none

buildhat: Add e24b924f: 151852 (+0).
  buildhat.csv
Due: none

ev3: Add e24b924f: 1048576 (+0).
  ev3.csv
Due: none

Path conditions:
  codeformat_c: any of: \.(c|h)$
  codeformat_py: any of: \.py$
