Repository pybricks/pybricks-micropython: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeformat_c, codeformat_py

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: codeformat_c
        name: codeformat-c
        language: system
        entry: poetry run ./tools/codeformat.py -cf
        types: [c]
    -   id: codeformat_py
        name: codeformat-py
        language: system
        entry: poetry run ./tools/codeformat.py -p
        types: [python]
        pass_filenames: false

nxt: Add 8aa9986c: 196425 (-16).
  nxt.csv
Due: none

essentialhub: Add 8aa9986c: 273712 (-16).
  essentialhub.csv
Due: none

ev3: Add 8aa9986c: 1048576 (+0).
  ev3.csv
Due: none

technichub: Add 8aa9986c: 209440 (-16).
  technichub.csv
Due: none

buildhat: Add 8aa9986c: 153884 (-16).
  buildhat.csv
Due: none

primehub_f4: Add 8aa9986c: 297192 (-12).
  primehub_f4.csv
Due: none

primehub_h5: Add 8aa9986c: 310832 (-16).
  primehub_h5.csv
Due: none

pbio/drv/bluetooth_btstack_posix: Support CSR dongle for debugging.
  .vscode/launch.json
  lib/pbio/drv/bluetooth/bluetooth_btstack_posix.c
Due: codeformat_c

pbio/drv/bluetooth_btstack_ev3: Fix lost wakeup in UART receive path.
  lib/pbio/drv/bluetooth/bluetooth_btstack_ev3.c
Due: codeformat_c

tools/flash: Wait longer for EV3 to show.
  tools/flash/__main__.py
Due: codeformat_py

pbio/drv/usb_ev3: Do not read-modify-write endpoint CSRs.
  lib/pbio/drv/usb/usb_ev3.c
Due: codeformat_c

pbio/drv/usb_ev3: Fix notification endpoint bInterval at high speed.
  lib/pbio/drv/usb/usb_ev3.c
Due: codeformat_c

tools/flash: Pass name of hub.
  bricks/_common/common.mk
  tools/flash/__main__.py
  tools/flash/serdev/connect.py
Due: codeformat_py

pbio/main: Fix return type of pbio_main_start_application_resources.
  lib/pbio/include/pbio/main.h
  lib/pbio/src/main.c
Due: codeformat_c

pybricks.messaging: Add HubNetwork.
  bricks/_common/sources.mk
  bricks/ev3/mpconfigport.h
  bricks/virtualhub/mpconfigport.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/pbdrvconfig.h
  lib/pbio/platform/virtual_hub/platform.c
  pybricks/messaging/messaging.h
  pybricks/messaging/pb_module_messaging.c
  pybricks/messaging/pb_type_hub_network.c
  tests/bluetooth/network0.py
  tests/bluetooth/network1.py
Due: codeformat_c, codeformat_py

pbio/platform/{prime,essential}_hub: Enable HubNetwork BTstack resources.
  bricks/essentialhub/mpconfigport.h
  bricks/primehub_f4/mpconfigport.h
  bricks/primehub_h5/mpconfigport.h
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_h5/btstack_config.h
  lib/pbio/platform/prime_hub_h5/pbdrvconfig.h
  lib/pbio/platform/test/btstack_config.h
  lib/pbio/platform/virtual_hub/btstack_config.h
Due: codeformat_c

pbio/sys/hmi_ev3_ui: Invert pairing procedure.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_nxt.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbio/bluetooth.h
  lib/pbio/platform/ev3/platform.ld
  lib/pbio/src/bluetooth.c
  lib/pbio/src/serial.c
  lib/pbio/sys/hmi_ev3.c
  lib/pbio/sys/hmi_ev3_ui.c
  lib/pbio/sys/hmi_virtual.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Change Class of Device.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
Due: codeformat_c

pbio/serial: Clarify maximum packet size.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbio/serial.h
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/test/btstack_config.h
  lib/pbio/platform/virtual_hub/btstack_config.h
  lib/pbio/src/serial.c
Due: codeformat_c

pbio/sys/hmi_ev3_ui: Show hub info.
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Keep config in one location.
  bricks/_common/common.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack_posix.c
  lib/pbio/drv/bluetooth/btstack_config.h
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_h5/btstack_config.h
  lib/pbio/platform/test/btstack_config.h
  lib/pbio/platform/virtual_hub/btstack_config.h
  lib/pbio/test/Makefile
  lib/pbio/test/drv/test_bluetooth_btstack.c
Due: codeformat_c

pbio/drv/hardware: Add handle for setting and getting MAC address.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_nxt.c
  lib/pbio/drv/bluetooth/bluetooth_nxt.h
  lib/pbio/drv/hardware/hardware_ev3.c
  lib/pbio/drv/hardware/hardware_nxt.c
  lib/pbio/drv/hardware/hardware_stm32.c
  lib/pbio/drv/usb/usb_ev3.c
  lib/pbio/drv/usb/usb_nxt.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/include/pbdrv/hardware.h
  lib/pbio/platform/essential_hub/pbdrvconfig.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/ev3/platform.c
  lib/pbio/platform/nxt/pbdrvconfig.h
  lib/pbio/platform/prime_hub_f4/pbdrvconfig.h
  lib/pbio/platform/prime_hub_h5/pbdrvconfig.h
Due: codeformat_c

pbio/bluetooth: Bump HubNetwork payload size to 512.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/include/pbdrv/bluetooth.h
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_h5/btstack_config.h
  lib/pbio/platform/test/btstack_config.h
  lib/pbio/platform/virtual_hub/btstack_config.h
  pybricks/messaging/pb_type_hub_network.c
Due: codeformat_c

pbio/drv/hardware: Implement version getter.
  bricks/_common/sources.mk
  lib/pbio/drv/bluetooth/bluetooth_btstack_ev3.c
  lib/pbio/drv/bluetooth/bluetooth_btstack_ev3.h
  lib/pbio/drv/hardware/hardware_ev3.c
  lib/pbio/include/pbdrv/hardware.h
  lib/pbio/platform/ev3/pbdrvconfig.h
  lib/pbio/platform/ev3/platform.c
  lib/pbio/sys/hmi_ev3_ui.c
Due: codeformat_c

pbio/drv/bluetooth_btstack: Derive resources from config.
  lib/pbio/drv/bluetooth/bluetooth_btstack.c
  lib/pbio/drv/bluetooth/bluetooth_btstack_config.h
  lib/pbio/platform/essential_hub/btstack_config.h
  lib/pbio/platform/ev3/btstack_config.h
  lib/pbio/platform/prime_hub_f4/btstack_config.h
  lib/pbio/platform/prime_hub_h5/btstack_config.h
  lib/pbio/platform/test/btstack_config.h
  lib/pbio/platform/virtual_hub/btstack_config.h
Due: codeformat_c

movehub: Add 07584bb2: 104500 (+16).
  movehub.csv
Due: none

movehub: Add a6478a89: 104500 (+0).
  movehub.csv
Due: none

cityhub: Add 07584bb2: 191740 (+16).
  cityhub.csv
Due: none

nxt: Add 07584bb2: 196437 (+12).
  nxt.csv
Due: none

technichub: Add 07584bb2: 209452 (+12).
  technichub.csv
Due: none

primehub_f4: Add 07584bb2: 297204 (+12).
  primehub_f4.csv
Due: none

movehub: Add 264c8ece: 104500 (+0).
  movehub.csv
Due: none

essentialhub: Add 07584bb2: 273724 (+12).
  essentialhub.csv
Due: none

ev3: Add 07584bb2: 1048576 (+0).
  ev3.csv
Due: none

nxt: Add a6478a89: 196437 (+0).
  nxt.csv
Due: none

buildhat: Add 07584bb2: 153900 (+16).
  buildhat.csv
Due: none

cityhub: Add a6478a89: 191740 (+0).
  cityhub.csv
Due: none

movehub: Add cc269aed: 104500 (+0).
  movehub.csv
Due: none

primehub_h5: Add 07584bb2: 310844 (+12).
  primehub_h5.csv
Due: none
